<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <title>Korisnici</title>
</head>
<body>
    <h1>Korisnici</h1>
    
    <table>
        <thead>
            <tr>
                <th>Korisničko ime</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td>{{u.userName}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

