* {
    z-index: 100;
}
.tLabel {
    display: flex;
    justify-content: space-between;
    svg {
        padding-top: 3px !important;
        margin-right: 5px !important;
        fill: var(--text-color) !important;
    }
}
#container {
    position: relative;
}
.form-label {
    font-size: 16px !important;
    text-transform: none !important;
}
.form-control::placeholder {
    color: var(--text-color) !important;
}
.col-md-5 {
    position: absolute;
    top: 0%;
    right: 0.2%;
    transition: right 0.5s;
    z-index: 50;
}
.form-control {
    color: var(--text-color) !important;
}
.project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    border-bottom: 0px;
    color:#697a8d;
    font-size: 1.4rem;
}

.back:hover{
    cursor: pointer;
    color: #5f61e6;
}
.card-header {
    background-color: var(--card-color) !important;
    color: var(--text-color) !important;
}
.desc{
    width: 100%;
    height: 10rem;
}

input::placeholder {color: #697a8d; }

.col-md div{ margin-bottom: 0; }

.card-body{color: #697a8d;}

label{ margin-right: 1rem; }

.nameAvatar {
    display: inline-flex;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
}



:host::ng-deep .ng-option-marked{
    border-top: 0px !important;
}

.ng-value-label.ng-star-inserted{
    padding-left: 3px !important;
}
.ng-selected-container {
    width: 50px !important;
}

:host::ng-deep .ng-value.ng-star-inserted{
    display: inline-flex !important;
    align-items: center !important;
    border-radius: 0.375rem !important;
}

:host::ng-deep .ng-clear .ng-clear-wrapper{
    display: flex !important;
    align-items: center;
}

:host::ng-deep .ng-clear-wrapper{
    top:0.1rem;
    display: flex !important;
    align-items: center;
}

.btn-save-task{
    margin-top: 15px;
}

h4{
    color: #697a8d;
    margin-bottom: 0;
    padding: 1rem 0 0 1rem;
    font-weight: 400;
}

i{
    color: #a0a6ac;
}

.is-invalid{
    border-color: red !important;
}

.invalid {
    height: 0;
    overflow: visible;
    margin-bottom: 0;
    transition: height 0.3s ease;
}

.invalid,.invalid-missing-date,.invalid-dates{
    color: red !important;
    font-size: 0.7rem;
}

input[type="date"].is-invalid {
    padding-right: 30px;
    border-color: red !important;
}

.form-check-input:hover,.form-check-input:checked:hover,.form-check-input:checked{
    border: none !important;
}

.low{
    background-color: #71dd37;
    border-color: #71dd37;
    box-shadow: 2px 2px 4px 2px rgba(113,221,55,.4);
}

.medium{
    background-color: #ffab00;
    border-color: #ffab00;
    box-shadow: 0 2px 4px 0 rgba(255,171,0,.4);
}

.high{
    background-color: #ff3e1d;
    border-color: #ff3e1d;
    box-shadow: 0 2px 4px 0 rgba(255,62,29,.4);
}

.addProjectBtn{
   display: flex;
   justify-content: right;
   align-items: center;
   margin-top: 16px;
   margin-bottom: 0;
}

#lbl{
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .col-md-5 {
      position: relative; 
      width: 100%; 
      margin-right: 0;
      transition: none; 
    }
  }
  
.user-details {
flex-grow: 1; 
}

.user-image {
    width: 3.125rem; 
    height: 3.125rem;
    margin-left: 0.3125rem;
    margin-right: 0.5rem;
}

.form-select {
    width:  8.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: smaller;
    color: #697a8d;
    float: right;
}
.tAddBtn {
    color: var(--btn-text) !important;
    background-color: var(--normal-purple) !important;
    border-color: var(--normal-purple) !important;
    box-shadow: var(--btn-shadow) !important;
}
.tAddBtn:hover {
    color: var(--btn-text) !important;
    background-color: var(--dark-purple) !important;
    border-color: var(--dark-purple) !important;
    transform: translateY(-1px) !important;
}
.tAddBtn:focus {
    color: var(--btn-text) !important;
    background-color: var(--dark-purple) !important;
    border-color: var(--dark-purple) !important;
}
.tAddBtn:disabled {
    background-color: var(--normal-purple) !important;
    border-color: var(--normal-purple) !important;
}
.form-select.form-select-xs:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent; 
}

.user-name,
.user-lastname {
    font-weight: bold;
}

.email{
font-size: smaller;
}

textarea:hover,textarea:focus,input:hover,input:focus{
    outline: none;
    border: 1px solid #5f61e6 !important; 
    box-shadow: none !important; 
}