<nav class="layout-navbar navbar navbar-expand-sm align-items-center bg-navbar-theme" id="layout-navbar">
  <div class="navbar-brand">
    <img src="../../../assets/navIcons/logo.png"  class="logoImg d-xl-none dropdown-toggle hide-arrow"
    href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="dropdown-menu dropdown-menu-responsive d-sm-none">
      <ul class="firstDrop">
        <li class="nav-item active" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/admin">Manage Users</a>
        </li>
        <li class="nav-item active" *ngIf="!isAdmin()" [class.active]="isMyProjectsActive">
          <a class="nav-link" routerLink="/myprojects">My Projects</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin()">
          <a class="nav-link" routerLink="/mytasks">My Tasks</a>
        </li>
      </ul>
    </div>
    <img src="../../../assets/navIcons/logo.png" alt="" class="logoImg d-none d-xl-block d-l-block" (click)="redirectToMyTasks()"/>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="tabs-to-dropdown">
      <div class="nav-wrapper d-flex align-items-center justify-content-between">
        <ul class="navbar-nav me-auto mb-2 mb-md-0 ">
          <li class="nav-item active" *ngIf="isAdmin()" [ngClass]="{'active-link-text': selectedOption==='Admin'}" (click)="setActiveOption('Admin')">
            <a class="nav-link" routerLink="/admin">Manage Users</a>
          </li>
          <li class="nav-item active" *ngIf="!isAdmin()" [ngClass]="{'active-link-text': selectedOption==='MyProjects'}" (click)="setActiveOption('MyProjects')">
            <a class="nav-link" routerLink="/myprojects">My Projects</a>
          </li>
          <li class="nav-item" *ngIf="!isAdmin()" [ngClass]="{'active-link-text': selectedOption==='MyTasks'}" (click)="setActiveOption('MyTasks')"> 
            <a class="nav-link" routerLink="/mytasks">My Tasks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="navbar-nav-right d-flex tSonMoon">
    <svg (click)="changeTheme()" *ngIf="themeService.isDarkMode()" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
      <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
    </svg>
    <svg (click)="changeTheme()" *ngIf="!themeService.isDarkMode()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
      <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"/>
    </svg>
    <app-notifications *ngIf="!isAdmin()"  class="notifications"></app-notifications>

    <ngx-avatars *ngIf="!user?.profilePicUrl && themeService.isDarkTheme" size="35" bgColor="rgb(56, 54, 87)" fgColor="rgb(183, 180, 242)" [name]="user?.firstName + ' ' + user?.lastName" class="nav-link dropdown-toggle hide-arrow avatar1"
    href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" data-bs-boundary="viewport"></ngx-avatars>
    <ngx-avatars *ngIf="!user?.profilePicUrl && !themeService.isDarkTheme" size="35" bgColor="#5d57c2" [name]="user?.firstName + ' ' + user?.lastName" class="nav-link dropdown-toggle hide-arrow avatar1"
    href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" data-bs-boundary="viewport"></ngx-avatars>
      <img *ngIf="user?.profilePicUrl" [src]="uploadService.getImage(user.profilePicUrl)" alt="Avatar" class="rightImg nav-link rounded-circle shadow-4-strong dropdown-toggle hide-arrow avatar1"
      href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" data-bs-boundary="viewport">

      <ul class="dropdown-menu dropdown-menu-end">
      <li class="rightDrop">
        <div class="dropdown-item tUserInfoDd">
          <div class="d-flex">
            <div class="avatar avatar-online">
              <ngx-avatars *ngIf="!user?.profilePicUrl && themeService.isDarkTheme" size="35" bgColor="rgb(56, 54, 87)" fgColor="rgb(183, 180, 242)" [name]="user?.firstName + ' ' + user?.lastName"></ngx-avatars>
              <ngx-avatars *ngIf="!user?.profilePicUrl && !themeService.isDarkTheme" size="35" bgColor="#5d57c2" [name]="user?.firstName + ' ' + user?.lastName"></ngx-avatars>
              <img *ngIf="user?.profilePicUrl" [src]="uploadService.getImage(user.profilePicUrl)" alt="Avatar" class="dropImg1 rounded-circle shadow-4-strong">
            </div>
            <div class="flex-grow-1">
              <span class="fw-medium d-block" style="font-size: 16px;">{{user?.firstName}} {{user?.lastName}}</span>
              <small class="text-muted">{{user?.email}}</small>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown-divider"></div>
      </li>
      <li class="rightDrop  tActionsInfoDd">
        <a class="dropdown-item tActionsInfoDd" routerLink="/userinfo" (click)="setActiveOption('')">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
          </svg>
          <span class="align-middle" style="font-size: 16px;">My Profile</span>
        </a>
      </li>
      <li class="rightDrop">
        <a class="dropdown-item tActionsInfoDd" style="cursor: pointer;" (click)="Logout()">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
          </svg>
          <span class="align-middle" style="font-size: 16px;">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>