<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic">
    <div class="authentication-inner">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <img src="../../../assets/_images/logo_zoom.png" alt="Logo">
            <span class="app-brand-text">AccessDenied</span>
          </div>
          <h4 class="mb-2">Adventure starts here 🚀</h4>
          <p class="mb-4">Make your app management easy and fun</p>

          <form #loginForm="ngForm" class="mg-3" (ngSubmit)="Register()" autocomplete="off" id="formAuthentication">
            <div class="mb-3">
              <label for="firtname" class="form-label">First Name</label>
              <input type="text" id="form3Example1" class="form-control" name="firtname" [(ngModel)]="newUser.FirstName" [ngClass]="{'is-invalid': buttonClicked && !checkFirstName()}" placeholder="Enter first name"/>
                <div class="invalid" *ngIf="buttonClicked && !checkFirstName()">First name must be longer and contain only letters</div>
            </div>
            <div class="mb-3">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" id="form3Example2" class="form-control" name="lastname" [(ngModel)]="newUser.LastName" [ngClass]="{'is-invalid': buttonClicked && !checkLastName()}" placeholder="Enter last name"/>
                <div class="invalid" *ngIf="buttonClicked && !checkLastName()">Last name must be longer and contain only letters</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="form3Example3" class="form-control" name="email" [(ngModel)]="newUser.Email" placeholder="Enter your email" readonly disabled/>
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
            </div>
                <div class="input-group input-group-merge">
                  <input type="password" id="form3Example4" class="form-control" name="password" [(ngModel)]="newUser.Password" placeholder="Enter Password" [ngClass]="{'is-invalid': buttonClicked && !checkPassword()}"/>
                    <div class="invalid" *ngIf="buttonClicked && !checkPassword()">Password must be at least 5 characters</div>
                </div>
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Confirm Password</label>
            </div>
                <div class="input-group input-group-merge">
                  <input type="password" id="form3Example5" class="form-control" name="confirm_password" #confirmPasswordInput="ngModel" [(ngModel)]="confirmPassword" [class.is-invalid]="
                  confirmPassword !== newUser.Password &&
                  confirmPassword !== ''"
                  placeholder="Confirm Password"/>
                </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="!passwordMatch()">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="personimage">
    <img src="../../../assets/_images/registerImage.png" alt="registerImage" (contextmenu)="disableRightClick($event)">
  </div>
</div>