
.container {
  display: flex;
  justify-content: center;  
  align-items: center;    
  text-align: center;
}

h1{
    text-align: center;
    color: rgb(115, 44, 44);;
}

h3{
    text-align: center;
    color: white;
}

#left{
    margin-right: 20px;
}

#right{
    padding: 10px;
    background-color: rgb(144, 59, 73);
    border: 3px solid rgb(115, 44, 44);
}

.user-table {
  color: white;
  width: 400px;
  margin: 0 auto; 
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid white;
  padding: 5px;
  text-align: center;
  background-color: rgb(144, 59, 73);
  color: white;
}

.user-table th {
  background-color: rgb(115, 44, 44);
}

input[type="text"]{
    margin-bottom: 20px;
}

button {
  margin-top: 3px;
  margin-bottom: 3px;
}

button {
  background-color: rgb(115, 44, 44);
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(140, 54, 54);
}